@use '../../../assets/styles/globals' as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  &.light{
    .link, .item{
      color: $background-dark-light;
    }
  }
}

.itemList {
  display: flex;
  gap: 15px;
}

.link, .item{
  text-decoration: none;
  color: $primary-blue;
  list-style: none;
  cursor: pointer;
}

