@use '../../../assets/styles/globals' as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  &.light{
    .item {
      color: $background-dark-light;
    }
  }
}

.itemList {
  display: flex;
  gap: 15px;
}

.item{
  list-style: none;
  color: $primary-blue;
  cursor: pointer;
}