@use '../../../assets/styles/globals' as *;

.title {
  font-size: 20px;
  text-align: center;
  color: $primary-yellow;
}

.littleTitle{
  font-size: 16px;
  margin-top: 10px;
  color: $primary-light-blue;
}

.description {
  font-size: 14px;
  color: $primary-white;
}

.container {
  &.light{
    .title {
      color: $primary-red;
    }
    .littleTitle{
      color: $background-dark;
    }
    
    .description {
      color: $border-blue;
    }
  }
}