@use '../../../assets/styles/globals' as *;

.container {
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 20px 10px;

  &.light{
    .input {
      background-color: $primary-gray-light;
      color: $primary-yellow;
    }
    
    .button {
      @include button(
        $color: $primary-white,
        $background-color: $primary-light-blue,
      )
    }
  }
}

.input {
  width: 100%;
  font-size: 20px;
  padding: 4px 12px;
  border: none;
  border-radius: 6px;
  outline: none;
}

.button {
  @include button()
}