@use '../../../assets/styles/globals' as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;

  &.light{
    .spinner{
      border: 4px solid $primary-blue;
      border-left-color: $primary-yellow;
    }
  }
}

.spinner {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 4px solid $primary-white;
  border-left-color: $primary-blue;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}