@use '../../../assets/styles/globals' as *;

.container {
  display: flex;
  justify-content: end;
  gap: 8px;

  button {
    font-size: 16px;
    color: $primary-blue;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    

    &:hover {
      color: $primary-yellow;
    }

    &.active {
      color: $primary-yellow;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  &.light{
    button {
      color: $background-dark-light;

      &:hover {
        color: $primary-red;
      }
  
      &.active {
        color: $primary-red;
      }
    }
    .ellipsis {
      color: $background-dark-light;
    }
  }
}

.ellipsis {
  color: $primary-blue;
}

@media (width < 500px) {
  .container {
    button {
      font-size: 12px;
    }
  }
  
  .ellipsis{
    font-size: 12px;
  }
}