@use '../../../assets/styles/globals' as *;

.container{
  display: flex;
  padding: 2px 0;
  border-radius: 6px;
  background-color: $background-dark;
}

.name{
  width:  40%;
  color: $primary-light-blue;
}

.description {
  width: 60%;
  font-size: 14px;
  color: $primary-light-blue;
}

