@use '../../../assets/styles/globals' as *;

.container{
  position: relative;
  display: flex;
  padding: 2px 0;
  border-radius: 6px;
  background-color: $background-dark;
  cursor: pointer;
}

.name{
  display: flex;
  width:  40%;
  justify-content: center;
  align-items: center;
  color: $primary-light-blue;
}

.description {
  width: 60%;
  font-size: 14px;
  color: $primary-light-blue;
}

.flag{
  position: absolute;
  top: 7px;
  left: 7px;
  cursor: pointer;
}

@media (width < 500px) {
  .name {
    font-size: 14px;
  }

  .description{
    font-size: 12px;
  }
}

