$primary-black: rgba(0, 0, 0, 0.8);
$primary-white: #ffffff;
$secondary-light: #cfd4dd;
$button-dark: #192a51;

$typography-button: 15px;
$typography-header-catalog: 13px;

$border-radius: 5px;
$benefits-border: 3px solid plum;

$font-family: 'Roboto', sans-serif;
$line-height: 120%;

$base-weight: 400;
$subheader-weight: 500;
$btn-weight: 500;
$fast-catalog-weight: 300;

$content-width: 1440px;

:root {
  padding: 0;
  font-family: $font-family;
  font-weight: $base-weight;
}